{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * attendees plugin for Craft CMS 3.x
 *
 * attendees index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Attendees
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset'
    ],
} %}

{#{% do view.registerAssetBundle("percipiolondon\\craftattendees\\assetbundles\\dashboardcpsection\\DashboardCPSectionAsset") %}#}

{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/craft-attendees/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Attendees | Dashboard" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-attendees') %}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/craftattendees/assetbundles/dashboardcpsection/dist', true) ~ '/img/Dashboard-icon.svg' %}#}

{% set subnav = {
    "dashboard": { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
    "trainings": { label: "Trainings"|t('craft-attendees'), url: url(pluginCpUrl ~ '/trainings') },
    "data-export": { label: "DataExport"|t('craft-attendees'), url: url(pluginCpUrl ~ '/data-export') },

} %}
{% set selectedSubnavItem = 'dashboard' %}

{% set crumbs = [
    { label: "craft-attendees", url: url(pluginCpUrl) },
    { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
] %}

{# Content that should appear in the page header#}
{% block actionButton %}
    <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('craft-attendees') }}</a>
{% endblock %}

{# The content of the CP Section#}
{% set content %}
    {{ craft.attendees.register('/src/js/attendees.ts', false, scriptTagOptions) }}
    <h2>{{ "Dashboard CP Section body goes here"|t('craft-attendees') }}</h2>



{#    <img src="{{ iconUrl }}" height="64" width="64" />#}
    <p class="textline"></p>
{% endset %}
