{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-attendees plugin for Craft CMS 3.x
 *
 * craft-attendees index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Craftattendees
 * @since     1.0.0
 */
#}

{% extends "craft-attendees/_layouts/_cp" %}
{% import "_includes/forms" as forms %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset'
    ],
} %}

{% set pluginCpUrl = url('craft-attendees') %}
{% set settings = craft.app.getPlugins().getPlugin('craft-attendees').getSettings() %}
{% set selectedSubnavItem = 'trainings' %}
{% set eventTypes = {
    'onlineEvent': 'Online Event',
    'locationEvent': 'Location Event',
    'hybridEvent': 'Hybrid Event'
} %}
{#{%- set fullPageForm = true -%}#}

{% set title = "Trainings | Attendees" %}

{% set crumbs = [
    { label: "Attendees", url: url(pluginCpUrl) },
    { label: "Trainings"|t('craft-attendees'), url: url(pluginCpUrl ~ '/trainings') },
] %}

{# Content that should appear in the page header#}
{% block actionButton %}
    <a href="{{ cpUrl() ~ '/' ~ settings.eventSection ~ '/' ~ event.slug }}" class="btn">{{ "Edit Event"|t('craft-attendees') }}</a>
{% endblock %}

{# The content of the CP Section#}
{% set content %}

    <div id="training">
        <h1>{{ event.title }}</h1>
        <h6 class="event-meta">
            <span>{{ eventTypes[event.type.handle] ?? '' }}</span>
            <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
            <span>{{ event.eventCategories.one().title ?? '' }}</span>
        </h6>
        <p>{{ event.description }}</p>

        <hr/>

        <div class="w-full flex field">
            <div class="heading flex-grow">
                <label>Attendees</label>
            </div>
            <a href="#" class="btn">{{ "Import"|t('craft-attendees') }}</a>
            <button class="btn submit icon add">{{ "Add"|t('craft-attendees') }}</button>
        </div>

        <div class="grid grid-cols-9 pt-2 bg-gray-100">
            <div class="col-span-2 px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                School / Organisation
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Post code
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Name of attendee
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Email
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Role
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Days Attended
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Newsletter
            </div>
            <div class="px-3 py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                Actions
            </div>
        </div>

        <form-attendee csrf="{{ craft.app.request.csrfToken }}" event="{{ event.id }}"></form-attendee>

{#        <table class="table-auto w-full">#}
{#            <thead class="bg-gray-100">#}
{#                <tr>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            School / Organisation#}
{#                        </span>#}
{#                    </th>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            Post code#}
{#                        </span>#}
{#                    </th>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            Name of attendee#}
{#                        </span>#}
{#                    </th>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            Email#}
{#                        </span>#}
{#                    </th>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            Days Attended#}
{#                        </span>#}
{#                    </th>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            Newsletter#}
{#                        </span>#}
{#                    </th>#}
{#                    <th class="px-3">#}
{#                        <span class="py-3 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#                            Actions#}
{#                        </span>#}
{#                    </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">The Sliding Mr. Bones (Next Stop, Pottersville)</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">Malcolm Lockyer</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">1961</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">1961</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">1961</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">1961</div>#}
{#                    </td>#}
{#                    <td>#}
{#                        <div class="border-b-2 border-gray-600">x</div>#}
{#                    </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}

        {{ forms.editableTableField({
            id: 'attendee-data',
            class: '',
            name: 'attendee[data]',
            label: 'Attendees' |t,
            instructions: "Use <b>+</b> button below to add a row for each attendee, if multiple people from the same organisation participated, each should be added on a new line." |t,
            required: false,
            static: false,
            cols: {
                status: {
                    class: "thin action rsn-status",
                    heading: "" |t,
                    type: "singleline",
                    value: 0,
                },
                school: {
                    class: "action rsn-autocomplete orderable",
                    heading: "School / Organisation" |t,
                    type: "singleline",
                    placeholder: "click to activate",
                    width: '35%',
                },
                schooldata: {
                    class: "rsn-data",
                    type: "hidden",
                },
                postcode: {
                    class: "rsn-postcode orderable",
                    heading: "Post code" |t,
                    type: "text",
                    width: '10%',
                },
                name: {
                    class: "rsn-name orderable",
                    heading: "Name of attendee" |t,
                    type: "text",
                    width: '20%',
                },
                email: {
                    class: "rsn-email",
                    heading: "Email" |t,
                    type: "text",
                    width: '25%',
                },
                role: {
                    class: "rsn-role",
                    heading: "Role" |t,
                    type: "select",
                    options: {
                        "": "Select one",
                        "na": "Not Applicable",
                        "support": "Support Staff" |t,
                        "leader-middle": "Middle leader" |t,
                        "leader": "Leadership" |t,
                        "teacher": "Teacher" |t,
                    },
                },
                attendance: {
                    class: "rsn-attendance",
                    heading: "Days Attended" |t,
                    type: "select",
                    options: {
                        "1": "1",
                        "2": "2",
                        "3": "3",
                        "4": "4",
                        "5": "5",
                        "6": "6",
                        "7": "7",
                        "8": "8",
                        "9": "9",
                        "10": "10",
                    },
                },
                optin: {
                    class: "rsn-mailing",
                    heading: "Newsletter" |t,
                    type: "lightswitch",
                    width: "1%",
                },
            },
            addRowLabel: "Add another attendee" |t,
        }) }}
    </div>

    {{ craft.attendees.register('/src/js/attendees.ts', false, scriptTagOptions) }}
{% endset %}
