{% import "_includes/forms" as forms %}

{% set activeTime = 0 %}
{% set times = [
    {
        'value': '2022',
        'label': 'Academic Year (2021/22)'
    },
    {
        'value': '2021',
        'label': 'Academic Year (2020/21)'
    },
    {
        'value': '2020',
        'label': 'Academic Year (2019/20)'
    },
    {
        'value': '3',
        'label': 'Last 3 months'
    },
    {
        'value': '6',
        'label': 'Last 6 months'
    },

] %}

{% set activeTime = 0 %}
{% for time in times %}
    {%  if time.value == selectedTime %}
        {%  set activeTime = 1 %}
        <div id="time-btn" class="btn menubtn" data-icon="time" data-time="{{ time.label }}">{{ time.label }}</div>
    {%  endif %}
{% endfor %}
{%  if activeTime == 0 %}
    <div id="time-btn" class="btn menubtn" data-icon="time">Last 6 months</div>
{%  endif %}
<div class="menu">
    <ul class="padded">
        {% for time in times %}
            {% set url = baseUrl ~ '?site=' ~ selectedSite ~ '&time=' ~ time.value %}
            <li>
                <a href="{{ url }}" title="{{ time.value }}">
                    <div class="status {% if time.value == selectedTime %} enabled{%  endif %}"></div>{{ time.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
